

### VisualStudioCode ###
**/.vscode/**/*
.vscode/**/*
*.code-workspace

# Project files
volumes/*
**/*.key
**/*.tgz
**/*.tar.gz

# Key and secret files

**/*.key
**/*.secret
**/password.txt

# Jupyter notebooks

**/*.ipynb

# OS files
.DS_Store

